{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="jumbotron jumbotron-fluid p-5" style="background-image: linear-gradient(to right, #1d5795, #22975d)">
    <div class="container">
        <h1 class="text-center font-weight-bold" style="color: white">Toronto Waste Lookup</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="searchBar"/>
                    </div>
                    <a href="#" class="px-2 btn btn-primary" id='searchButton'
                       style="background-color: #22975d; border-color: #22975d"><i
                            style="font-size: x-large" class="fas fa-search fa-flip-horizontal"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div id="result_items"></div>
    <div id="fav_items"></div>
    {#    {% if all_items %}#}
    {#        {% for item in all_items %}#}
    {#            <div class="row">#}
    {#                <div class="col-1 text-center">#}
    {#                    <i style="color: {% if item.saved %}#22975d{% else %}darkgray{% endif %}" class="fas fa-star"></i>#}
    {#                </div>#}
    {#                <div class="col">#}
    {#                    {{ item.title }}#}
    {#                </div>#}
    {#                <div class="col-8">#}
    {#                    {{ item.body|safe }}#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    {% else %}#}
    {#        <p>No items are available.</p>#}
    {#    {% endif %}#}
</div>
<script src="{% static 'wiz/js/main.js' %}"></script>
</body>